<welcome>

<div class="welcome-body">

<div class="container">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Blocipedia - wiki your way through life...</h1><br>
            <p class="lead">Blocipedia lets you create wikis, share them and collaborate.</p>             
            <p class="lead">
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %> or
      <%= link_to "Log in", new_user_session_path, class: 'btn btn-default' %>
      </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Created by <a href="mailto:nickwong879@gmail.com">Nick Wong</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

</div>

</div>

